[submodule "chapter1"]
	path = chapter1
	url = https://github.com/choewy/hanghae99-chapter-1.git
[submodule "chapter2"]
	path = chapter2
	url = https://github.com/choewy/hanghae99-chapter-2.git
[submodule "chapter0"]
	path = chapter0
	url = https://github.com/choewy/hanghae99-chapter-0
